*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #343434;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 50vh;
    padding-bottom: 20px;
    background: #093522;
    border: 5px solid #23692f;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.txt{
    width: 100%;
    height: 70px;
    padding: 20px 10px;
    text-align: right;
    background: #8fec73;
    border: 5px solid #3da31d;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
}
.btn{
    width: 15%;
    height: 11%;
    margin:  auto 10px;   
    border-radius: 50%;
    outline: none;
    border: 2px solid #23692f;
    background: #8fec73;
    font-size: 16px;
    font-weight: 600;
    transition: .7s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    border: 5px solid #b4f6bf;
}
.btn1{
    background: #3da31d !important;  
}